/* Custom Added file NOT FROM CATHOOK! */
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}
td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

/* scrollbar CUSTOm */
  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: #525151 #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 10px;
  }

  *::-webkit-scrollbar-track {
    background: transparent;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #525151;
    border-radius: 0px;
    border: 0px solid #ffffff;
  }
